@using Reststops.Presentation.Web.DTO
@using Reststops.Core

@if (Reststops != null)
{
    <ul class="timeline">
        @{
            var i = 0;
        }
        @foreach (var reststop in Reststops)
        {
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">
                            <strong>@AlphaIndex.Get(i).ToUpper():</strong>
                            @if (string.IsNullOrWhiteSpace(reststop.Name))
                            {
                                @if (reststop.HasTag("highway", "services"))
                                {
                                    <span>Raststätte</span>
                                }
                                else
                                {
                                    <span>Rastplatz</span>
                                }
                            }
                            else
                            {
                                @reststop.Name
                            }
                        </span>
                        <span class="time-wrapper">
                            <span class="time">@reststop.KilometersAway() / @reststop.DetourInMinutes()</span>
                        </span>
                    </div>
                    <div class="desc">
                        @if (reststop.HasTag("toilets", "yes"))
                        {
                            <i class="fas fa-restroom fa-2x"></i>
                        }

                        @if (reststop.HasTag("highway", "services") || reststop.HasTag("amenity", "fuel"))
                        {
                            <i class="fas fa-gas-pump fa-2x"></i>
                        }

                        @if (reststop.HasTag("amenity", "parking"))
                        {
                            <i class="fas fa-parking fa-2x"></i>
                        }

                        @if (reststop.HasTag("tourism", "hotel"))
                        {
                            <i class="fas fa-bed fa-2x"></i>
                        }

                        @if (reststop.HasTag("tourism", "hotel"))
                        {
                            <i class="fas fa-bed fa-2x"></i>
                        }

                        @if (reststop.HasTag("caravan", "yes"))
                        {
                            <i class="fas fa-caravan fa-2x"></i>
                        }

                        @if (reststop.HasTag("baby_change", "yes"))
                        {
                            <i class="fas fa-baby fa-2x"></i>
                        }

                        @if (reststop.HasTag("charging_station", "yes"))
                        {
                            <i class="fas fa-plug fa-2x"></i>
                        }

                        @if (reststop.HasTag("fast_food", "yes") ||
                          reststop.HasTag("restaurant", "yes") ||
                          reststop.HasTag("amenity", "restaurant"))
                        {
                            <i class="fas fa-utensils fa-2x"></i>
                        }

                        @if (reststop.HasTag("shower", "yes"))
                        {
                            <i class="fas fa-shower fa-2x"></i>
                        }

                        @if (reststop.HasTag("wheelchair", "yes"))
                        {
                            <i class="fas fa-wheelchair fa-2x"></i>
                        }

                        @if (reststop.HasTag("wheelchair", "no"))
                        {
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-wheelchair fa-stack-1x"></i>
                                <i class="fas fa-ban fa-stack-2x"></i>
                            </span>
                        }

                        @if (reststop.HasTag("waste_basket", "yes"))
                        {
                            <i class="fas fa-recycle fa-2x"></i>
                        }

                        @if (reststop.HasTag("shop", "yes") || reststop.HasTag("shop", "kiosk"))
                        {
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        }

                        @if (reststop.HasTag("tourism", "information"))
                        {
                            <i class="fas fa-info-circle fa-2x"></i>
                        }

                        @if (reststop.HasTag("drinking_water", "yes"))
                        {
                            <i class="fas fa-faucet fa-2x"></i>
                        }

                        @if (reststop.HasTag("drinking_water", "no"))
                        {
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-faucet fa-stack-1x"></i>
                                <i class="fas fa-ban fa-stack-2x"></i>
                            </span>
                        }

                        @if (reststop.HasTag("opening_hours"))
                        {
                            <i class="fas fa-clock"></i> @reststop.Tags["opening_hours"]
                        }
                    </div>
                </div>
            </li>

            i++;
        }
    </ul>
}

@code {
    [Parameter] public IEnumerable<ReststopResult> Reststops { get; set; }
}